{% extends 'base.html' %}

{% block content %}

  <div class="container mt-4">
    <h2 class="display-10">Editar log RPA</h2>

    <div class="card">
      <div class="card-body">
        <form method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Salvar Rpa</button>
        </form>
      </div>
    </div>

    <a href="{% url 'rpa_log_error_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>
  </div>
  
{% endblock %}