{%  extends 'base.html' %}

{% block content %}

<div class="container mt-4-">
    <h2 class ="display-10">Detalhe RPA</h2>
    <div class="card">
        <div class="card-body">
            <h3 class="card-title">{{ object.name }}</h3>
            <p class="card-text"> Descrição: {{ object.description }}</p>
            <p class="card-text"> Duração: {{object.duration}}</p>
        </div>
    </div>
    <a href="{% url 'rpa_list' %}" class="btn btn-secondary mt-3">Voltar para lita de RPA</a>
</div>

{% endblock %}