<div class="row flex-nowrap">
    <div class="col-auto col-md-0 col-xl-0 px-0 bg-dark">
      <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white">
        <button class="btn btn-dark d-block d-sm-none mb-3" type="button" data-bs-toggle="collapse"
          data-bs-target="#menuCollapse" aria-expanded="false" aria-controls="menuCollapse">
          <i class="bi bi-list fs-4"></i>
        </button>
        <div class="collapse d-sm-block" id="menuCollapse">
          <ul class="nav flex-column align-items-start" id="menu">
            <li>
              <a href="{% url 'home' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-speedometer2 fs-4"></i>
                <span class="ms-1">Dashboards</span>
              </a>
            </li>
            <li>
              <a href="{% url 'rpa_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-robot fs-4"></i>
                <span class="ms-1">Rpa's</span>
              </a>
            </li>
            <li>
              <a href="{% url 'rpa_log_success_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-clipboard-data fs-4"></i>
                <span class="ms-1">Logs Success Rpa's</span>
              </a>
            </li>
            <li>
              <a href="{% url 'rpa_log_error_list' %}" class="nav-link px-0 align-middle">
                <i class="bi bi-clipboard-data fs-4"></i>
                <span class="ms-1">Logs Error Rpa's</span>
              </a>
            </li>
          <li class="nav-item">
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post" id="logout-form" class="nav-link px-0 align-middle">
              {% csrf_token %}
              <button type="submit" class="btn btn-link text-decoration-none text-reset nav-link px-0 align-middle">
                <i class="bi bi-box-arrow-rigth fs-4 align-middle"></i>
                <span class="ms-1 align-middle">SAIR</span>
              </button>
            </form>
              {% endif %}
          </li>
          
          </ul>
        </div>
        <hr>
      </div>
    </div>